* {
  margin: 0px;
  padding: 0px;
  font-family: 'Karla Regular, Courier New', Courier, monospace;
}


header{
  display: flex;
  justify-content: space-around;
  justify-items: center;
  align-items: center;  
  flex-wrap: wrap;
}



ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

li {
  margin: 0px 10px;
  font-family: 'Markazi Text, Courier New', Courier, monospace;
}

a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.logo {
  height: 60px;
  display: inline;
}

footer{
  margin-top: 5px;
  display: flex;
  justify-items: center;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.footerParagraph {
  width: 100px;
  font-size: 12px;
}

.hero {
  background-color: #495E57;
  display: flex;
  justify-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}

.chicago {
  background-color: #495E57;
  display: flex;
  justify-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  padding: 150px;
}

.chicago h1 {
  color: #F4CE14
}

.chicago h3 {
  color: #fff
}

.chicago p {
  color: #fff
}

.specials {
  display: flex;
  justify-items: center;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 100px;
}

.headerCardSpecial {
  display: flex;
  justify-content: space-between;
}

.precio {
  color: #EE9972;
  font-weight: bold;
}

.plato {
  font-weight: bold;
}

.description {
  font-weight: 100;
}

.delivery {
  font-weight: bold;
}

.card-container {
  margin: auto;
  width: 70%;
}

.cards {
  display: flex;
  justify-items: center;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 100px;
}

.card {
  max-width: 300px;
  height: 425px;
  background-color: #EDEFEE;
  border-radius: 15px;
  margin: 10px;
}

.card img {
  width: 300px;
  height: 200px;
  border-radius: 15px;
}

.card p, span {
  padding: 10px;
}


.card-container-testimonials {
  margin: auto;
  width: 70%;
  padding: 5px;
}

.card-container-testimonials h1 {
  margin-top: 30px;
  text-align: center;
}

.cards-testimonials {
  display: flex;
  justify-items: center;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 100px;
}

.card-testimonials {
  width: 250px;
  height: 180px;
  background-color: #EDEFEE;
  border-radius: 15px;
  margin: 10px;
  padding: 10px;
}

.testimonialBody {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-testimonials img {
  width: 150px;
  height: 100px;
  margin: 10px;
}

.card p, span {
  padding: 10px;
}

.hero h1 {
  color: #F4CE14
}

.hero h3 {
  color: #fff
}

.hero p {
  color: #fff
}

.picturecalltoaction {
  position: relative;
  top: 60px;

}

.picturecalltoaction img {
  border-radius: 15px;
}


.calltoaction {
  width: 300px;
}



.buttonCallToAction {
  background-color: #F4CE14;
  margin-top: 30px;
  width: 180px;
  height: 50px;
  border: none;
  border-radius: 15px;
  font-weight: bold;
  font-family: 'Markazi Text, Courier New', Courier, monospace;
  cursor: pointer;
}

.buttonCallToAction:hover {
  background-color: #c3a510;
  color: white;
}

.enlace {
  cursor: pointer;
}



.bookingForm-container {
  padding: 100px 0px;
  margin: auto;
  background-color: #495E57;
}

.confirmationForm-container {
  padding: 100px;
  margin: auto;
  background-color: #495E57;
  color: white;
}



.bookingForm {
  display: flex; 
  flex-direction: column;
  width: 50%; 
  margin: auto;
  border: none;
  padding: 10px;
  background-color: white;
  box-shadow: 1px 3px 3px 1px;
}

.confirmationForm {
  display: flex; 
  flex-direction: column;
  width: 50%; 
  margin: auto;
  border: none;
  padding: 10px;
  background-color: white;
  color: black;
  box-shadow: 1px 3px 3px 1px;
}


label {
  margin-top: 10px;
  font-weight: bold;
}

input {
  border: line;
  border-radius: 5px;
  height: 30px;
  font-size: larger;
}

select {
  border: line;
  border-radius: 10px;
  height: 30px; 
  font-size: larger;
}

.alert {
  color: red;
  font-weight: bold;
}


.buttonReservation {
  text-align: center;
  background-color: #F4CE14;
  color: white;
  margin-top: 30px;
  width: 180px;
  height: 50px;
  border: none;
  border-radius: 15px;
  font-size: large;
  font-weight: bold;
  font-family: 'Markazi Text, Courier New', Courier, monospace;
  cursor: pointer;
}

.buttonReservation:hover {
  background-color: #72610a;
  color: white;
}

.buttonReservation-container {
  margin: auto;
}

.footer_logo {
  width: 100px;
}

#picturchicago2 {
  position: relative;
  top: 90px;  
  right: 200px;
  width: 400px;
}

#picturchicago1 {
  width: 400px;
  position: relative;
  left: 450px

}


@media (max-width: 500px) {

  .confirmationForm-container {
    padding: 5px;
    margin: auto;
  }

  .confirmation-container {
    padding: 5px;
    margin: auto;
  }

  .bookingForm {
    width: 90%;
  }


  .confirmationForm {
    width: 90%;
    margin: auto;
  }  




}